*{
    box-sizing: border-box;
}

:root{
    --white:#FFFFFF;
    --dark-blue:#1E1F36;
    --dark-purple:#4B4C5F;
    --purple:#787887;
    --orange:#F47B56;
    --light-grey:#E8E8EA;
}

body{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
    background-repeat: no-repeat ;
    width:100%;
}

.main-div{
    width:327px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:148px;
    margin-bottom:85px;
    background-color: var(--white);
    border-radius:23px;
    padding-bottom: 48px;
}

.image-div{
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
}

#box-desktop{
    display:none;
}

#mobile-shadow{
    position:relative;
}

#illustration-mobile{
    position:absolute;
    width:236.85px;
    top:-110px;
}

.main-container{
    width:279px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:40px;

}

.main-container h1{
    font-family:'Kumbh Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    color:var(--dark-blue);
}

.middle-container{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:15px;
}

.question{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.question-div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

hr{
    width:279px;
    height:1px;
    border:0px;
    background-color:var(--light-grey);
}

.asked{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color:var(--dark-purple);
}

.question.active .arrow-bottom{
    transform: rotate(180deg);
}

.question.active .hidden{
    display:block;
}

.question.active .asked{
    font-weight: 700;
}

.arrow-bottom{
    width:8px;
    height:4px;
}

.hidden{
    display:none;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    color:var(--purple);
}




/* desktop version */
/* desktop version */
/* desktop version */
/* desktop version */
/* desktop version */
/* desktop version */
/* desktop version */
/* desktop version */
/* desktop version */


@media screen and ( min-width: 1024px){
    .main-div{
        width:920px;
        height:509px;
        background-image: url("./images/bg-pattern-desktop.svg"), url("./images/illustration-woman-online-desktop.svg") ;
        background-repeat: no-repeat;
        background-size:963px 944px, 470px 360px;
        background-position: -570px -290px, -80px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 65px 95px 83px 0;
        margin:130px 0;
        background-color: var(--white);
        border-radius:23px;
    }

    .image-div{
        display: unset;
        height: 500px;
        width:50%;
        margin-bottom: 0px;
    }

    #box-desktop{
        display: unset;
        top: 160px;
        left: -90px;
        overflow: visible;
        position: absolute;
    }
    
    #mobile-shadow{
        display:none;
    }
    
    #illustration-mobile{
        display:none;
    }

    .main-container{
        width:350px;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap:45px;
    }

    .main-container h1{
        font-family:'Kumbh Sans', sans-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0px;
        color:var(--dark-blue);
    }

    .middle-container{
        width:100%;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        gap:15px;
    }

    .question{
        display: flex;
        flex-direction: column;
    }

    hr{
        width:350px;
        height:1px;
        border:0px;
        background-color:var(--light-grey);
    }

    .asked{
        font-family: 'Kumbh Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 17.36px;
        letter-spacing: 0px;
        text-align: left;
        color:var(--dark-purple);
        cursor:pointer;
    }

    .asked:hover{
        color:var(--orange);
    }

}